.wines-style{
  max-width: 300px;
}

.winelist{
  padding: 20px 10% 0 10%;
}

.colornegro{
  color: black;
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-form{
  display: flex;
}

@media screen and (max-width: 767px) {
  .winelist{
    padding: 20px 5% 0 5%;
  }
} 