.wines-style{
  max-width: 300px;
}

.winelist{
  padding: 0 10% 0 10%;
}

.colornegro{
  color: black;
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}